/** base styles **/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  background: #fff;
}

h1 {
  font-weight: 700;
  font-size: 55px;
  line-height: 66px;
  letter-spacing: -3.03px;
  color: #333;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #333;
}

h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #333;
}

p {
  color: #6E6A69;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 400;
  margin: 15px 0px 15px 0px;
}

hr {
  border: 2px solid #97C227;
}

figcaption {
  font-size: 11px;
  line-height: 13.75px;
  color: #6E6A69;
}

.logo {
  width: 139px;
}

/** main content **/
.main-content {
  min-height: calc(100vh - 40px);
  padding-top: 140px;
}

.main-content .container {
  margin-top: 140px;
  max-width: 820px;
  display: block;
  margin: 0 auto;
}

.lead-text {
  font-size: 21px;
  line-height: 32px;
  color: #6E6A69;
  font-weight: 400;
}

.item-block {
  margin: 40px 0px 40px 0px;
}

/** header styles **/
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 18px 2%;
  transition: all 0.5s ease;
  box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.05);
  height: 60px;
}

.navbar {
  position: absolute;
  top: 100%;
  right: -100%;
  width: 360px;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 0.5s ease;
}
.navbar a {
  display: block;
  color: #333;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px auto;
  transition: all 0.5s ease;
}
.navbar a:hover {
  color: #fff;
  color: #fff;
  transform: translateY(2px);
}
.navbar li {
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}
.navbar li:hover {
  background: #97C227;
}
.navbar li:hover a {
  color: #fff;
}
.navbar.open {
  right: 0%;
}

#menu-icon {
  font-size: 50px;
  color: #D8D8D8;
  cursor: pointer;
  z-index: 10001;
}
#menu-icon :hover {
  color: #97C227;
}

/** CLOSE neader/navbar styles **/
/** graph image **/
.nexxar-graph-desktop {
  display: block;
  margin: 24px auto;
}

/** open all accordion btn **/
.nexxar-open-all-btn {
  float: right;
  outline: none;
  cursor: pointer;
  border: 2px solid #333;
  text-align: center;
  vertical-align: top;
  padding: 10px 30px 10px 30px;
  background-color: transparent;
  font-size: 14px;
  line-height: 23.8px;
  color: #333;
  font-weight: 700;
  margin-bottom: 20px;
}
.nexxar-open-all-btn:hover {
  background-color: #333;
  color: #fff;
}

/** accordion **/
.nexxar-accordion {
  background-color: #fff;
  color: #333;
  cursor: pointer;
  padding: 10px 0px 10px 0px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
  font-weight: 700;
  border-top: 2px solid #333;
  border-bottom: 2px solid transparent;
}
.nexxar-accordion:after {
  content: url("/images/lrg.svg"); /* Unicode character for "plus" sign (+) */
  float: right;
  margin-left: 5px;
}

.active {
  background-color: #fff;
  border-bottom: 2px solid #97C227;
}
.active:after {
  content: url("/images/lrgclose.svg") !important; /* Unicode character for "minus" sign (x) */
}

.panel {
  display: none;
}
.panel.show {
  display: block;
  transition: max-height 0.2s ease-out;
}

/** overlay on menu icon click **/
.overlay-container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 3, 3, 0.1);
}

/** footer styles **/
footer {
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  transition: all 0.5s ease;
  height: 40px;
  border-top: 1px solid #97C227;
  height: 40px;
}

.navbar-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transition: all 0.5s ease;
}
.navbar-footer a {
  color: #6E6A69;
  font-size: 16px;
  line-height: 18.4px;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 10px;
  transition: all 0.5s ease;
}

.nexxar-copyright {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transition: all 0.5s ease;
}
.nexxar-copyright a {
  color: #6E6A69;
  font-size: 16px;
  line-height: 18.4px;
  padding: 5px 0;
  margin: 0px 5px;
  transition: all 0.5s ease;
}

.nexxar-graph-mobile {
  display: none;
}

/** Tablet **/
@media only screen and (max-width: 768px) {
  .main-content {
    padding: 100px 15px 0px 15px;
  }
  .main-content .container {
    max-width: 608px;
  }
  .nexxar-graph-desktop {
    display: none;
  }
  .nexxar-graph-mobile {
    display: block;
    margin: 24px auto;
  }
}
@media only screen and (max-width: 700px) {
  footer {
    height: fit-content;
    display: block;
  }
  .navbar {
    width: 100%;
  }
  .navbar-footer {
    display: block;
    width: 100%;
  }
  .navbar-footer li {
    padding: 10px 0px 10px 0px;
  }
  .nexxar-copyright {
    width: 100%;
    height: 40px;
    border-top: 1px solid #97C227;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
  }
}
/** Mobile **/
@media only screen and (max-width: 360px) {
  h1 {
    font-size: 28px;
    line-height: 33.6px;
    letter-spacing: -1.31px;
  }
  h2 {
    font-size: 24px;
    line-height: 28.8px;
  }
  h3 {
    font-size: 21px;
    line-height: 25.2px;
  }
}
